
    <footer class="footer">
        <div class="container text-center">
            Made with <span class="heart">❤️</span> by <%= link_to "Binh Nguyen Dang", "https://github.com/BinhNguyenDang/saasProjectApp", class: "text-white", target: "_blank" %>
        </div>
    </footer>

